TextField {
    -fx-background-color: white;
    -fx-background-image: url('../resources/white.png');
}

Pane {
    -fx-background-image: url('../resources/table.png');
    -fx-background-repeat: none;
    -fx-background-size: 100%;
}